<div class="ui-g">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <p-dialog [styleClass]="ui-g-12" header="Login" [resizable]="true" visible="true" responsive="true" modal="true">

        <div class="ui-g-6 ui-md-6 " style="margin-bottom: 16px;">

            <div class="ui-g-12">
                <div class="ui-g-12">
                    <label for="username">Username</label>
                </div>
                <div class="ui-g-12" style="margin-bottom:10px">
                    <input pInputText type="text" formControlName="username" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
                </div>
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-12">
                    <label for="password">Password</label>
                </div>
                <div class="ui-g-12" style="margin-bottom:10px">
                    <input pPassword type="password" formControlName="password" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                </div>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>


        </div>



        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button [disabled]="loading" label="Login"
                        icon="fa fa-user" pButton></button>
                <img *ngIf="loading"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                <a [routerLink]="['/register']" class="btn btn-link">Register</a>
            </div>
        </p-footer>

    </p-dialog>
    </form></div>




