    <div class=" charts">
        <div class="ui-g-6 ui-lg-6 charts1">
            <div class="card">
                <h1 class="centerText">Pie Chart</h1>
                <div class="chart">

                    <p-chart type="pie" [data]="pieData"></p-chart>
                </div>
            </div>
        </div>

        <div class="ui-g-6 ui-lg-6 charts2">
            <div class="card">
                <h1 class="centerText">Linear Chart</h1>
                <div class="chart">
                    <p-chart type="line" [data]="lineData"></p-chart>
                </div>
            </div>
        </div>
    </div>
