
<div class="layout-wrapper" (click)="onLayoutClick()" [ngClass]="{'menu-layout-static': !isOverlay(),
                'menu-layout-overlay': isOverlay(),
                'layout-menu-overlay-active': overlayMenuActive,
                'menu-layout-horizontal': isHorizontal(),
                'menu-layout-slim': isSlim(),
                'layout-menu-static-inactive': staticMenuDesktopInactive,
                'layout-menu-static-active': staticMenuMobileActive}">

    <core-topbar></core-topbar>

    <div>

        <div class="layout-menu-container" [ngClass]="{'layout-menu-dark':darkMenu}" (click)="onMenuClick($event)">
            <p-scrollPanel #layoutMenuScroller [style]="{height: '100%' }">
                <div class="menu-scroll-content">
                    <div *ngIf="isLoggedIn$ | async">
                        <core-profile *ngIf="profileMode=='inline'&&!isHorizontal()"></core-profile>
                        <core-menu [reset]="resetMenu"></core-menu>
                    </div>
                </div>
                <div style="color: #1fb4fc;text-align: center;bottom: 10px;float:bottom">Version : {{version}}</div>
                <div style="text-align: center;bottom: 10px;float:bottom">Date : {{date}}</div>

            </p-scrollPanel>

        </div>
    </div>



    <div class="layout-main">

        <div > <alert></alert></div>

        <router-outlet></router-outlet>

    </div>

    <div class="">
        <core-footer></core-footer>

    </div>
    <a style="color: #1fb4fc">{{version}}</a>


</div>
