<style>
    .ui-calendar {
        width: 100%;
    }
</style>
<p-toolbar>
    <div class="ui-toolbar-group-right">
        <button pButton type="button" label="Nouvelle prestation" icon="pi pi-plus"></button>
        <!--<button pButton type="button" label="Upload" icon="pi pi-upload" class="ui-button-success"></button>-->
        <!--<i class="pi pi-bars"></i>-->
    </div>
</p-toolbar>
<div>
    <p></p>
</div>

<p-table #pt [columns]="selectedColumns" [value]="prestations" [paginator]="true" [rows]="10">

    <ng-template pTemplate="caption">
        <div class="ui-toolbar-group-left">PRESTATIONS {{employee_name}}</div>
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Chercher dans la liste"
               (input)="pt.filterGlobal($event.target.value, 'contains')" style="width:auto">

        <div class="ui-toolbar-group-right">
            <p-multiSelect [options]="cols" [showToggleAll]="" [(ngModel)]="selectedColumns" optionLabel="header"
                           selectedItemsLabel="{0} colonnes sélectionnées" [style]="{minWidth: '200px'}"
                           defaultLabel="Choix des colonnes"></p-multiSelect>
        </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>

        <tr>
            <th *ngFor="let col of columns" [className]="'col'+filtres[col.field].filtertype">{{col.header}}</th>
            <!--th></th-->
            <th style="border-top:none; background-color:#f5f5f5; width:140px"></th>
        </tr>


        <!-- FILTRES -->
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="filtres[col.field].filtertype">
                <p-multiSelect *ngSwitchCase="'liste'" defaultLabel="Sélectionnez" [options]="filtres[col.field].values"
                               [(ngModel)]="filtres[col.field].selected"
                               [style]="{'max-width':'100%', 'min-width':'auto'}"
                               (onChange)="pt.filter($event.value, col.field, 'in')"
                               selectedItemsLabel="{0} sélectionnées"
                                maxSelectedLabels="1"
                >
                   <!-- <ng-template let-items pTemplate="selectedItems">
                        <span *ngIf="items.length>1" [style]="{'text-overflow':'ellipsis'}">{{items.length}} sélectionnés</span>
                        <span *ngIf="items.length==1" [style]="{'text-overflow':'ellipsis'}">{{items[0]}}</span>
                        <span *ngIf="items.length==0" [style]="{'text-overflow':'ellipsis'}">Sélectionnez</span>
                    </ng-template>-->
                </p-multiSelect>

                <div *ngSwitchCase="'date'" [ngStyle]="{'padding-right':'2em'}">
                    <p-calendar [(ngModel)]="filtres[col.field].selected" [showIcon]="true" [showButtonBar]="true"
                                dateFormat="{{filtres[col.field].fmt}}" [locale]="fr" (onSelect)="pt_filter($event, pt, col.field);"
                                (onClearClick)="pt_filter($event, pt, col.field);"
                                [inputStyle]="{'max-width':'100%', 'text-overflow':'ellipsis', 'padding':'6px 6px'}"
                                [style]="{'display':'inline-block', 'max-width':'100%', 'min-width':'auto', 'text-overflow':'ellipsis'}">
                        <p-header *ngIf="col.field=='dateDebutPrestation'">A partir de :</p-header>
                        <p-header *ngIf="col.field=='dateFinPrestation'">Jusqu'au :</p-header>
                    </p-calendar>
                </div>

             </th>
            <!--th></th-->
            <!--th *ngFor="let col of columns" [ngSwitch]="col.field">
                <p-multiSelect *ngSwitchCase="'prestIdCollab'" defaultLabel="Sélectionnez" [options]="filtres[col.field].values" [(ngModel)]="filtres[col.field].selected" [style]="{'width':'auto', 'min-width':'auto'}" (onChange)="this.pt.filter($event.target.value, col.field, 'in');"></p-multiSelect>
                <input *ngSwitchCase="'prestDateDebut'" pInputText type="text" (input)="pt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input *ngSwitchCase="'prestDateFin'" pInputText type="text" (input)="pt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input *ngSwitchCase="'prestContrat'" pInputText type="text" (input)="pt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input *ngSwitchCase="'prestATG'" pInputText type="text" (input)="pt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input *ngSwitchCase="'prestDepartement'" pInputText type="text" (input)="pt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input *ngSwitchCase="'prestPole'" pInputText type="text" (input)="pt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input *ngSwitchCase="'prestDomaine'" pInputText type="text" (input)="pt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input *ngSwitchCase="'prestSite'" pInputText type="text" (input)="pt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input *ngSwitchCase="'prestPU'" pInputText type="text" (input)="pt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input *ngSwitchCase="'prestType'" pInputText type="text" (input)="pt.filter($event.target.value, col.field, col.filterMatchMode)"-->
            <!--p-dropdown *ngSwitchCase="'prestStatut'" [options]="status" [(ngModel)]="selectedPrestas.statut" [style]="{'width':'auto', 'min-width':'auto'}" (onChange)="filterVersions()"></p-dropdown-->
            <!--p-multiSelect *ngSwitchCase="'prestStatut'" [options]="status" [(ngModel)]="selectedPrestas.status" [style]="{'width':'auto', 'min-width':'auto'}" (onChange)="filterVersions()"></p-multiSelect-->
            <!--p-multiSelect *ngSwitchCase="'prestStatut'" defaultLabel="Sélectionnez" [options]="filtres[col.field].values" [(ngModel)]="filtres[col.field].selected" [style]="{'width':'auto', 'min-width':'auto'}" (onChange)="filterVersions()"></p-multiSelect-->

            <!--div *ngSwitchCase="'prestVersion'"><p-dropdown *ngIf="showHistSelect" [options]="filtres[col.field].values" [(ngModel)]="filtres[col.field].selected" [style]="{'width':'auto', 'min-width':'auto'}" (onChange)="filterVersions()"></p-dropdown></div-->
            <!--input *ngSwitchCase="'prestVersion'" pInputText type="text" (input)="pt.filter($event.target.value, col.field, col.filterMatchMode)"-->
            <!--/th-->
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">

        <tr [pSelectableRow]="rowData">

            <!-- DataRows -->
            <td *ngFor="let col of columns" [ngSwitch]="filtres[col.field].filtertype">
                <span *ngSwitchCase="'date'">{{rowData[col.field] | date:filtres[col.field].fmt2 }}</span>
                <span *ngSwitchDefault>{{rowData[col.field]}}</span>
            </td>
            <!--td>{{rowData["dateDebutPrestationTri"]}}</td-->
            <td>
                <div class="ui-toolbar-group-right">
                    <button pButton type="button" (click)="selectPrestation($event, rowData)" icon="pi pi-search" pTooltip="Voir" tooltipPosition="bottom"></button>
                    <button pButton type="button" icon="pi pi-calendar" class="ui-button-success" pTooltip="Historique" tooltipPosition="bottom"></button>
                    <button pButton type="button" (click)="deletePrestation($event, rowData)" icon="pi pi-times" class="ui-button-danger" pTooltip="Supprimer" tooltipPosition="bottom"></button>
                </div>
            </td>
        </tr>

    </ng-template>
</p-table>


<!-- >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<-->
<!-- >>>>>>>>>>>>>>> F I C H E <<<<<<<<<<<<<<<<<<<-->
<!-- >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<-->

<p-dialog [(visible)]="displayDialogPresta" [responsive]="true" [modal]="true" [style]="{'min-height' : '300px'}">

    <p-header>
        <span style="display:inline-block; width:80%">{{title}}</span><span style="display:inline-block">Statut "{{allstatusidx[selectedPrestation['statutPrestation']]}}" - Version {{selectedPrestation['versionPrestation']}}</span>
    </p-header>

    <!--span class="ui-inputgroup-addon">Identifiant</span>
    <input type="text" pInputText placeholder="identifiant" value="{{selectedPrestation.prestId}}"-->
    <div class="ui-g ui-fluid">

        <p-fieldset *ngFor="let fiche of FieldsFiches" legend="{{fiche.grplabel}}" [ngSwitch]="fiche.grp" class="ui-g-12 ui-md-6">
            <div *ngIf="fiche.grp == 'contrat' || fiche.grp == 'collaborateur'">
                <div *ngFor="let field of fiche.fields" class="ui-inputgroup" [ngSwitch]="field.type">

                    <span class="ui-inputgroup-addon" [ngStyle]="{'width':'30%','text-align':'left','background-color':'#f5fafb'}">{{colsIndex[field.name]}}&nbsp;:</span>

                    <p-calendar *ngSwitchCase="'date'" [(ngModel)]="selectedPrestation[fiche.grp][field.name]" [showIcon]="true" [showButtonBar]="true"
                                dateFormat="dd/mm/yy" [locale]="fr" [inputStyle]="{}" [style]="{'display':'inline-block'}">
                    </p-calendar>
                    <!-- Un seul combo : celui du contrat -->
                    <p-dropdown *ngSwitchCase="'combo'" [options]="references[field.name]" [(ngModel)]="selectedPrestation[field.name]" filter="true" [style]="{'width':'100%'}">
                        <ng-template let-item pTemplate="selectedItem">
                            <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
                        </ng-template>
                        <ng-template let-contrat pTemplate="item">
                            <div class="ui-helper-clearfix" style="position:relative;">
                                <div style="font-size:14px;float:left;margin-top:4px">{{contrat.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>

                    <input *ngSwitchDefault type="text" pInputText [(ngModel)]="selectedPrestation[fiche.grp][field.name]">
                </div>
            </div>
            <div *ngIf="fiche.grp == 'Prestation' || fiche.grp == 'Commercial'">
                <div *ngFor="let field of fiche.fields" class="ui-inputgroup" [ngSwitch]="field.type">
                    
                    <span class="ui-inputgroup-addon" [ngStyle]="{'width':'30%','text-align':'left','background-color':'#f5fafb'}">{{colsIndex[field.name]}}&nbsp;:</span>

                    <p-calendar *ngSwitchCase="'date'" [(ngModel)]="selectedPrestation[field.name]" [showIcon]="true" [showButtonBar]="true"
                                dateFormat="dd/mm/yy" [locale]="fr" [inputStyle]="{}" [style]="{'display':'inline-block'}">
                    </p-calendar>

                    <p-dropdown *ngSwitchCase="'combo'" [options]="references[field.name]" [(ngModel)]="selectedPrestation[field.name]" filter="true" [style]="{'width':'100%'}">
                        <ng-template let-item pTemplate="selectedItem"><span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span></ng-template>
                        <ng-template let-itembis pTemplate="item">
                            <div class="ui-helper-clearfix" style="position:relative;">
                                <div style="font-size:14px;float:left;margin-top:4px">{{itembis.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>

                    <input *ngSwitchDefault type="text" pInputText [(ngModel)]="selectedPrestation[field.name]">
                </div>
            </div>
        </p-fieldset>
    </div>

    <!--p-dropdown [options]="missions" [(ngModel)]="selectedPrestation.identifiantMission"
                [style]="{'width':'150px'}" filter="true">
        <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
        </ng-template>
        <ng-template let-mission pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                <div style="font-size:14px;float:right;margin-top:4px">{{mission.label}}</div>
            </div>
        </ng-template>
    </p-dropdown>
    <input type=number pInputText placeholder="Mission" value="{{selectedPrestation.identifiantMission}}"-->

    <!--div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">MAJ :</span>
                <span>Créée le {{selectedPrestation.createdAt}} par {{selectedPrestation.createdBy}}, modifiée le {{selectedPrestation.updatedAt}} par {{selectedPrestation.updatedBy}}</span>
            </div>
        </div>
    </div-->


    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix" [ngStyle]="{'text-align':'left'}">
            <button *ngFor="let btnid of buttons_list; " pButton type="button" label="{{buttons[btnid].label}}" class="ui-button-success" (click)="buttonsFunctions(btnid)" [disabled]="buttons[btnid].disabled"></button>
        </div>
    </p-footer>

</p-dialog>


<!--<p-dataView #dv1 [style]="{'padding': '20px'}" [value]="prestations" [paginator]="true" [rows]="10" paginatorPosition="both" filterBy="nom"
[sortField]="sortField" [sortOrder]="sortOrder">
<p-header>

<div class="ui-helper-clearfix">
<div class="ui-g">
<div class="ui-g-12 ui-md-4">
<p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
(onChange)="onSortChange($event)" [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown>
</div>
<div class="ui-g-6 ui-md-4 filter-container">
<div style="position:relative">
<input type="search" pInputText placeholder="Search by brand" (keyup)="dv1.filter($event.target.value)">
</div>
</div>
<div class="ui-g-6 ui-md-4" style="text-align:right">
<p-dataViewLayoutOptions></p-dataViewLayoutOptions>
</div>

</div>
</div>
</p-header>
<ng-template let-prestation pTemplate="listItem">
<div class="ui-g" style="border: 1px solid #d9d9d9">

<div class="ui-g-10 ui-md-9 car-details">
<div class="ui-g-1 ui-sm-6">id_prestation:</div>
<div class="ui-g-1 ui-sm-6"><b>{{prestation.id_prestation}}</b></div>

<div class="ui-g-1 ui-sm-6">no_contrat:</div>
<div class="ui-g-1 ui-sm-6"><b>{{prestation.no_contrat}}</b></div>

<div class="ui-g-1 ui-sm-6">id_pilot:</div>
<div class="ui-g-1 ui-sm-6"><b>{{prestation.id_pilot}}</b></div>

<div class="ui-g-1 ui-sm-6">departement:</div>
<div class="ui-g-1 ui-sm-6"><b>{{prestation.departement}}</b></div>

<div class="ui-g-1 ui-sm-6">pole:</div>
<div class="ui-g-1 ui-sm-6"><b>{{prestation.pole}}</b></div>

<div class="ui-g-1 ui-sm-6">domaine:</div>
<div class="ui-g-1 ui-sm-6"><b>{{prestation.domaine}}</b></div>

<div class="ui-g-1 ui-sm-6">code_site:</div>
<div class="ui-g-1 ui-sm-6"><b>{{prestation.code_site}}</b></div>

<div class="ui-g-1 ui-sm-6">no_atg:</div>
<div class="ui-g-1 ui-sm-6"><b>{{prestation.no_atg}}</b></div>

<div class="ui-g-1 ui-sm-6">id_resp_pole:</div>
<div class="ui-g-1 ui-sm-6"><b>{{prestation.id_resp_pole}}</b></div>

<div class="ui-g-1 ui-sm-6">id_don_ordre:</div>
<div class="ui-g-1 ui-sm-6"><b>{{prestation.id_don_ordre}}</b></div>


</div>
<div class="ui-g-1 ui-md-2 search-icon">
<button pButton type="button" icon="pi pi-search" (click)="selectPrestation($event, prestation)"></button>
<button pButton type="button" icon="pi pi-calendar" class="ui-button-success"></button>
<button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
</div>
</div>

</ng-template>


<ng-template let-prestation pTemplate="gridItem">
<div style="padding:.5em" class="ui-g-6 ui-md-2">
<p-panel [header]="prestation.vin" [style]="{'text-align':'center'}">
<img src="assets/showcase/images/demo/car/{{prestation.brand}}.png" width="120">
<div class="car-detail">{{prestation.id_prestation}} - {{prestation.no_contrat}}</div>
<hr class="ui-widget-content" style="border-top:0">
<button pButton type="button" icon="pi pi-search" (click)="selectedPrestation($event, prestation)"
style="margin-top:0"></button>
</p-panel>
</div>

</ng-template>
</p-dataView>-->

<!--
<p-dialog header="Car Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          width="225" (onAfterHide)="onDialogHide()">
    <div class="ui-g" *ngIf="selectedPrestation">
        <div class="ui-g-12" style="text-align:center">
            <img src="assets/showcase/images/demo/car/{{selectedPrestation.id_prestation}}.png">
        </div>
        <div class="ui-g-4">Contrat :</div>
        <div class="ui-g-8">{{selectedPrestation.no_contrat}}</div>

        <div class="ui-g-4">ID pilot:</div>
        <div class="ui-g-8">{{selectedPrestation.id_pilot}}</div>

        <div class="ui-g-4">Département:</div>
        <div class="ui-g-8">{{selectedPrestation.departement}}</div>

        <div class="ui-g-4">Site:</div>
        <div class="ui-g-8">{{selectedPrestation.code_site}}</div>
    </div>
</p-dialog>-->
