button {margin: 3px}

th {
    font-size : 0.9em;
}

th input {
    width: 100%;
}


.tablecol {
    border-collapse: collapse;
    border: 1px solid  #0C0213;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
