button {margin: 3px}

th {
    font-size : 0.9em;
}

th input {
    width: 100%;
}


.tablecol {
    border-collapse: collapse;
    border: 1px solid  #0C0213;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.import-collabs> tr> td {
    border-collapse: collapse;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    border: 1px solid  #0C0213;
}


.ui-datatable-data> tr> td {
    border-collapse: collapse;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    border: 1px solid  #0C0213;
}

::ng-deep .ui-fileupload-choose{
    overflow: visible;
}



::ng-deep .importcsv {
    width: 95% !important;
    top:auto;
    bottom: auto;
}

::ng-deep  .cta_collabs{
    max-width: 200px ;
}
