button {margin: 3px}

th {    font-size : 0.9em;}

th input {    width: 100%;}

.tablecol {
    border-collapse: collapse;
    border: 1px solid  #0C0213;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


p-calendar input {text-overflow: ellipsis; /*  width:100%;*/ }


tr.StatutE td {                 background-color : rgba(250,255,250,0.5); }
tr:nth-child(even).StatutE td { background-color : rgba(230,240,240,0.5); }
tr.StatutT td {                 background-color : rgba(230,230,230,0.5); }
tr:nth-child(even).StatutT td { background-color : rgba(215,215,215,0.5); }
tr.StatutS td {                 background-color : rgba(240,220,220,0.5); }
tr:nth-child(even).StatutS td { background-color : rgba(220,200,200,0.5); }

.col {      background-color: #d0e0d0;}
.coldate {  background-color: #d0e0d0;  width: 135px; }
.colliste { background-color: #d0e0d0;}

.coldate input {
    padding-left:2px; padding-right:1px;
}


div.myFieldset .ui-fieldset .ui-fieldset-legend {
    background-color:rgba(180,200,200,1);
}

