<div class="ui-g line1">
    <div class="ui-g-12 ui-md-8 news-area ">
        <div class="card card-w-title news">
            <div class="">
                <div class="items">
                    <app-news ></app-news>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-g-6 ui-md-4">
        <div class="card card-w-title menu" >

            <div class="ui-g-12" style="padding-bottom: 0;" >
                <div routerLink="/collaborateurs" class="ui-g-4 case">
                    <div style="position:relative">
                        <div class="shadow-box ui-shadow-1">
                            <a>
                                <img class="image" src="./assets/layout/images/icones/collaborateurs.png" title=""
                                     data-themekey="#">
                            </a>
                        </div>
                        <div class="card-legend">Collaborateurs</div>
                        <div class="description">
                            <div style="padding-top: 5px">Gérer les <br> collaborateurs et <br> mettre fin à une <br>
                                mission
                            </div>
                        </div>
                    </div>
                </div>
                <div routerLink="/prestations" class="ui-g-4 case">
                    <div style="position:relative">
                        <div class="shadow-box ui-shadow-1">
                            <a>
                                <img class="image" src="./assets/layout/images/icones/conges.png" title=""
                                     data-themekey="#">
                            </a>
                        </div>
                        <div class="card-legend">Congés</div>
                        <div class="description">
                            <div style="padding-top: 5px">Consulter les congés des collaborateurs</div>
                        </div>
                    </div>
                </div>
                <div routerLink="/collaborateurs" class="ui-g-4 case">
                    <div style="position:relative">
                        <div class="shadow-box ui-shadow-1">
                            <a>
                                <img class="image" src="./assets/layout/images/icones/annuaire.png" title=""
                                     data-themekey="#">
                            </a>
                        </div>
                        <div class="card-legend">Annuaire</div>
                        <div class="description">
                            <div style="padding-top: 5px">Contacter un collaborateur</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="ui-g-12" style="padding-bottom: 0">
                <div routerLink="/prestations" class="ui-g-4 case">
                    <div style="position:relative">
                        <div class="shadow-box ui-shadow-1">
                            <a>
                                <img class="image" src="./assets/layout/images/icones/prestation.png" title=""
                                     data-themekey="#">
                            </a>
                        </div>
                        <div class="card-legend">Prestations</div>
                        <div class="description">
                            <div style="padding-top: 5px">Gérer les prestations</div>
                        </div>
                    </div>
                </div>
                <div routerLink="/collaborateurs" class="ui-g-4 case">
                    <div style="position:relative">
                        <div class="shadow-box ui-shadow-1">
                            <a>
                                <img class="image" src="" title="" data-themekey="#">
                            </a>
                        </div>
                        <div class="card-legend"></div>
                        <div class="description">
                            <div style="padding-top: 5px"></div>
                        </div>
                    </div>
                </div>
                <div routerLink="/collaborateurs" class="ui-g-4 case">
                    <div style="position:relative">
                        <div class="shadow-box ui-shadow-1">
                            <a>
                                <img class="image" src="" title="" data-themekey="#">
                            </a>
                        </div>
                        <div class="card-legend"></div>
                        <div class="description">
                            <div style="padding-top: 5px"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui-g-12">
                <div routerLink="collaborateurs" class="ui-g-4 case">
                    <div style="position:relative">
                        <div class="shadow-box ui-shadow-1">
                            <a>
                                <img class="image" src="./assets/layout/images/icones/tableaudebord.png" title=""
                                     data-themekey="#">
                            </a>
                        </div>
                        <div class="card-legend">Tableau de bord</div>
                        <div class="description">
                            <div style="padding-top: 5px">Suivre le taux de soutraitance</div>
                        </div>
                    </div>
                </div>
                <div routerLink="collaborateurs" class="ui-g-4 case">
                    <div style="position:relative">
                        <div class="shadow-box ui-shadow-1">
                            <a>
                                <img class="image" src="./assets/layout/images/icones/referentiel.png" title=""
                                     data-themekey="#">
                            </a>
                        </div>
                        <div class="card-legend">Référentiel</div>
                        <div class="description">
                            <div style="padding-top: 5px">Gérer les tables du référentiel</div>
                        </div>
                    </div>
                </div>
                <div  *ngIf="isAdmin$ | async" routerLink="/administration" class="ui-g-4 case">
                    <div style="position:relative">
                        <div class="shadow-box ui-shadow-1">
                            <a>
                                <a>
                                <img class="image" src="./assets/layout/images/icones/administration.png" title=""
                                     data-themekey="#">
                                </a>
                                <div class="card-legend">Administrateur</div>
                                <div class="description">
                                    <div style="padding-top: 5px;color: #FFF">Gérer les droits des utilisateurs et charger les
                                        tables du référentiel
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div  *ngIf="!(isAdmin$ | async)"  class="ui-g-4 case">
                    <div style="position:relative">
                        <div class="shadow-box ui-shadow-1">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div class=" line2">

    <app-charts></app-charts>
</div>
