
<div class="profile" [ngClass]="{'profile-expanded':active}" >
    <a href="#" (click)="onClick($event)">
        <div class="idPhotoFrame" >
            <span style="line-height:45px; font-size:1.8em; color:white;" >{{firstLetter}}</span>
        </div>
        <a style="text-transform: capitalize;margin-top: 10px;vertical-align:middle"  class="profile-name">
            {{currentUser.lastname}}
            {{currentUser.firstname}}
        </a>
        <p style="font-size:13px;text-transform: capitalize;text-align: right;margin: 0px" *ngIf="isAdmin$ | async"> Administrateur </p>
        <p style="font-size:13px;text-transform: capitalize;text-align: right;margin: 0px" *ngIf="!(isAdmin$ | async)"> Chef de projet </p>

        <i class="fa fa-fw fa-caret-down"></i>

        <div class="ui-dialog-buttonpane ui-helper-clearfix"></div>
     </a>
</div>

<ul id="profile-menu" class="layout-menu" [@menu]="active ? 'visible' : 'hidden'">
    <li role="menuitem">
        <a href="#" [attr.tabindex]="!active ? '-1' : null">
            <i class="fa fa-fw fa-user"></i>
            <span>Profile</span>
        </a>
        <div class="layout-menu-tooltip">
            <div class="layout-menu-tooltip-arrow"></div>
            <div class="layout-menu-tooltip-text">Profile</div>
        </div>
    </li>
    <li role="menuitem">
        <a href="#" [attr.tabindex]="!active ? '-1' : null">
            <i class="fa fa-fw fa-user-secret"></i>
            <span>Privacy</span>
        </a>
        <div class="layout-menu-tooltip">
            <div class="layout-menu-tooltip-arrow"></div>
            <div class="layout-menu-tooltip-text">Privacy</div>
        </div>
    </li>
    <li role="menuitem">
        <a href="#" [attr.tabindex]="!active ? '-1' : null">
            <i class="fa fa-fw fa-cog"></i>
            <span>Settings</span>
        </a>
        <div class="layout-menu-tooltip">
            <div class="layout-menu-tooltip-arrow"></div>
            <div class="layout-menu-tooltip-text">Settings</div>
        </div>
    </li>
    <li role="menuitem">
        <a [routerLink]="['/login']" [attr.tabindex]="!active ? '-1' : null">
            <i class="fa fa-fw fa-sign-out"></i>
            <span>Logout</span>
        </a>
        <div class="layout-menu-tooltip">
            <div class="layout-menu-tooltip-arrow"></div>
            <div class="layout-menu-tooltip-text">Logout</div>
        </div>
    </li>
</ul>
