button {margin: 3px}

th {
    font-size : 0.9em;
}


.import-collabs> tr> td {
    border-collapse: collapse;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    border: 1px solid  #0C0213;
}


/*body .ui-table .ui-datatable-data> tr> td {*/
.tablecol:hover{
   /* padding-top: 0px;*/
}

.tablecol div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tablecol:hover div {
    background: white;
    border-radius : 5px;
    position : absolute;
    padding : 10px 5px 10px 5px;
    margin-top : -17px;
    box-shadow : 2px 2px 5px #c0d0c0;
}

.tablecol:hover div span {
    text-shadow : 2px 2px 2px #c0d0c0;
}

::ng-deep .ui-fileupload-choose{
    overflow : visible;
}



::ng-deep .importcsv {
    width: 95% !important;
    top:auto;
    bottom: auto;
    min-height : 250px;
}

::ng-deep  .cta_collabs{
    max-width: 200px ;
}

