<p-toolbar>
    <div class="ui-toolbar-group-left"><span style="font-size:1.5em; display:inline-block; padding-top: 3px ">Liste des collaborateurs</span></div>
    <!-- Btn New Collab -->
    <button pButton type="button" label="Nouveau collaborateur" icon="pi pi-plus" (click)="new()" style="float:right; margin:0px;"></button>
</p-toolbar>
<div style="height: 5px"> </div>
<p-table #dt [columns]="selectedColumns" [value]="collaborateurs" [paginator]="true" [rows]="10">

    <ng-template pTemplate="caption">
        <div style="height:30px">
        <div class="ui-toolbar-group-left">

            <!-- Global search -->
            <i class="fa fa-search" style="margin:4px 4px"></i><input type="search" pInputText size="20" placeholder="Chercher dans la liste" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>

        <!-- Choix colonnes -->
        <div class="ui-toolbar-group-right" style="vertical-align: middle; text-align: right" >
            <p-multiSelect [options]="cols" [showToggleAll]="" [(ngModel)]="selectedColumns" optionLabel="header"
                           selectedItemsLabel="{0} colonnes sélectionnées" defaultLabel="Choix des colonnes" [style]="{minWidth: '150px'}"></p-multiSelect>&nbsp;
        </div>
        </div>
    </ng-template>

    <!-- HEADER -->
    <ng-template pTemplate="header" let-columns>

        <tr>
            <th *ngFor="let col of columns" [className]="'col'">{{col.header}}</th>
            <th style="border-top:none; background-color:#f5f5f5; width:140px">
            </th>
        </tr>

        <!-- FILTRES -->
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="coldefs[col.field].filtertype">

                <p-multiSelect *ngSwitchCase="'liste'" defaultLabel="Sélectionnez" [options]="coldefs[col.field].values"
                               [(ngModel)]="coldefs[col.field].selected"
                               [style]="{'max-width':'100%', 'min-width':'auto'}"
                               [panelStyle]="{'min-width':'140px'}"
                               (onChange)="dt.filter($event.value, col.field, 'in')"
                               selectedItemsLabel="{0} sélectionnés"
                               maxSelectedLabels="1"
                >
                </p-multiSelect>

                <div *ngSwitchCase="'date'" [ngStyle]="{'padding-right':'2em'}">
                    <p-calendar [(ngModel)]="coldefs[col.field].selected" [showIcon]="true" [showButtonBar]="true"
                                dateFormat="{{communServ.datefmtCalendarInput}}" [locale]="communServ.fr" (onSelect)="co_filter(col.field);"
                                (onClearClick)="co_filter(col.field);"
                                [inputStyle]="{'max-width':'100%', 'text-overflow':'ellipsis'}"
                                [style]="{'display':'inline-block', 'max-width':'100%', 'min-width':'auto', 'text-overflow':'ellipsis'}">
                    </p-calendar>
                </div>
            </th>
            <th></th>
        </tr>
    </ng-template>


    <!-- BODY -->
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">

            <!-- DataRows -->
            <td *ngFor="let col of columns" class="tablecol">
                <div>
                    <span>{{rowData[col.field]}}</span>
                </div>
            </td>

            <td>
                <div class="ui-toolbar-group-right">
                    <button pButton type="button" icon="pi pi-search" (click)="selectCollaborateur($event, rowData); afficherLaSaisie('Visu');"></button>
                    <button pButton type="button" icon="pi pi-calendar" class="ui-button-success"></button>
                    <button pButton type="button" icon="pi pi-times" class="ui-button-danger" (click)="suppCollab(rowData)" [disabled]="canDelete(rowData)"></button>
                </div>
            </td>
        </tr>

    </ng-template>
</p-table>




<!-- >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<-->
<!-- >>>>>>>>>>>>>>> F I C H E <<<<<<<<<<<<<<<<<<<<<-->
<!-- >>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<-->

<p-dialog [(visible)]="displayDialog" [responsive]="true" [modal]="true" [styleClass]="'importcsv'">

    <p-header>
        <span style="display:inline-block; width:80%">{{title}}</span><span style="display:inline-block">Statut "{{allstatus[selectedCollaborateur['statutCollab']]}}" - Version {{selectedCollaborateur['versionCollab']}}</span>
    </p-header>
    <div class="ui-g ui-fluid">
        <div *ngFor="let fiche of FieldsFiches" class="ui-g-12 ui-md-6" >
        <p-fieldset legend="{{fiche.grplabel}}" [ngSwitch]="fiche.grp" *ngIf="fiche.grp!='ST' || this.selectedCollaborateur.stt=='Oui'" >

            <div *ngSwitchCase="'Mission'">

                <div *ngIf="lastMission">
                    <div *ngFor="let field of fiche.fields" class="ui-inputgroup" [ngSwitch]="field.type">

                        <span class="ui-inputgroup-addon" [ngStyle]="{'flex-grow':'0', 'flex-basis':'25%', 'text-align':'left', 'background-color':'#f5fafb'}">{{coldefs[field.name].header}} :</span>

                        <p-calendar *ngSwitchCase="'date'" [(ngModel)]="lastMission[field.name]" [showButtonBar]="true"
                                    dateFormat="{{communServ.datefmtCalendarInput}}" [locale]="communServ.fr"
                                    [disabled]="field.readonly" [inputStyle]="{'border-radius':'2px', 'border':'solid thin lightgray'}" [ngStyle]="{'flex-grow':'3'}">
                        </p-calendar>
                        <div *ngSwitchCase="'combo'" [ngStyle]="{'flex-grow':'3'}" [ngSwitch]="field.name">
                            <div *ngIf="showDerogation">
                            <p-dropdown *ngSwitchCase="'derogation'" [options]="field.options" [(ngModel)]="lastMission[field.name]" [disabled]="field.readonly"
                                         (onChange)="changeDerogation($event)"></p-dropdown>
                            </div>
                            <p-dropdown *ngSwitchDefault [options]="field.options" [(ngModel)]="lastMission[field.name]" [disabled]="field.readonly"></p-dropdown>
                        </div>
                        <input *ngSwitchDefault type="text" pInputText [(ngModel)]="lastMission[field.name]" [disabled]="field.readonly" [ngStyle]="{'flex-grow':'3', 'width':'auto'}">
                    </div>
                </div>

                <div *ngIf="lastMission==null">
                    Il n'existe aucune mission pour ce collaborateur.
                </div>
            </div>

            <div *ngSwitchDefault>
                <div *ngFor="let field of fiche.fields" class="ui-inputgroup" [ngSwitch]="field.name" >

                    <span class="ui-inputgroup-addon" [ngStyle]="{'width':'25%', 'text-align':'left','background-color':'#f5fafb'}">{{coldefs[field.name].header}} :</span>

                    <div [class]="field.obligatoire">

                        <p-dropdown *ngSwitchCase="'categorisation'" [options]="references['categorisations']" [(ngModel)]="selectedCollaborateur[field.name]" filter="true" [disabled]="field.readonly" > <!--[style]="field.obligatoire"-->
                             <ng-template let-item pTemplate="selectedItem">
                                 <span>{{item.label}}</span>
                             </ng-template>
                             <ng-template let-categorisation pTemplate="item">
                                 <div class="ui-helper-clearfix" style="position:relative;">
                                     <div style="font-size:14px;float:left;margin-top:4px">{{categorisation.label}}</div>
                                 </div>
                             </ng-template>
                        </p-dropdown>

                        <p-dropdown *ngSwitchCase="'stt'"           [options]="ouinonComboOptions" [(ngModel)]="selectedCollaborateur[field.name]" [disabled]="field.readonly"></p-dropdown>
                        <p-dropdown *ngSwitchCase="'preEmbauche'"   [options]="ouinonComboOptions" [(ngModel)]="selectedCollaborateur[field.name]" (onChange)="preEmbaucheChange($event)" [disabled]="field.readonly"></p-dropdown>

                        <p-calendar *ngSwitchCase="'dateEmbaucheOpen'" [(ngModel)]="selectedCollaborateur[field.name]" [showIcon]="true" [showButtonBar]="true"
                                    dateFormat="{{communServ.datefmtCalendarInput}}" [locale]="communServ.fr" [disabled]="field.readonly"
                                    [inputStyle]="{'max-width':'100%', 'text-overflow':'ellipsis'}"
                                    [style]="{'display':'inline-block', 'max-width':'100%', 'min-width':'auto', 'text-overflow':'ellipsis'}">
                        </p-calendar>

                        <input *ngSwitchDefault type="text" pInputText [(ngModel)]="selectedCollaborateur[field.name]" [disabled]="field.readonly"  style="width:auto">
                    </div>
                </div>
             </div>
        </p-fieldset>
        </div>
     </div>


    <!-- FOOTER -->
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix" [ngStyle]="{'text-align':'left'}">
            <button *ngFor="let btnid of buttonsList; " pButton type="button" label="{{buttons[btnid].label}}" class="ui-button-success" (click)="buttons[btnid].fnc.call()" [disabled]="buttons[btnid].disabled"></button>
        </div>
    </p-footer>


    <!--p-tabPanel header="Importer" leftIcon="pi pi-inbox">

        <p-table [style]="{'overflow':'auto!important'}" [resizableColumns]="true"
                 columnResizeMode="expand" [responsive]="true" #tt [columns]="selectedColumns" [value]="csvRecords"
                 [paginator]="true" [rows]="10">

            <ng-template pTemplate="caption">
                <div style="text-align:left">
                    <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                                   selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}"
                                   defaultLabel="Choose Columns"></p-multiSelect>
                </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">

                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                </tr>

            </ng-template>
        </p-table>
        <p-footer>
            <div class="ui-toolbar-group-left">
                <button pButton type="button" label="Créer les collaborateurs" icon="pi pi-upload"
                        class="ui-button-success" (click)="saveNewCollaborateur()"></button>


                <p-fileUpload #fubauto #fileImportInput mode="basic" accept=".csv" customUpload="true"
                              (uploadHandler)="onUpload($event)" auto="true"
                              chooseLabel="Importer les collaborateurs"></p-fileUpload>
            </div>
        </p-footer>

    </p-tabPanel>

    </p-tabView-->

</p-dialog>



<!-- PRESTATIONS -->
<!--app-prestations *ngIf="bShowPrestas"></app-prestations-->
<!-- Dynamic way : ng-template ad-host></ng-template-->
<!--div [ngStyle]="{'display': showPrestas}"-->

<p-dialog [(visible)]="displayDialog2" [responsive]="true" [modal]="true" (onHide)="displayDialog2=false" [styleClass]="'importcsv'" [contentStyle]="{'overflow':'visible', 'padding':'0px', 'border':'0px'}"
          [showHeader]="false">
    <app-prestations [collab]="selectedCollaborateur" (closewindowPrestas)="onClosewindowPrestas($event)"></app-prestations>
</p-dialog>


<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
