button {margin: 3px}

th {
    font-size : 0.9em;
}


.import-collabs> tr> td {
    border-collapse: collapse;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    border: 1px solid  #0C0213;
}


/*body .ui-table .ui-datatable-data> tr> td {*/
.tablecol {
    border-collapse: collapse;
    border: 1px solid  #0C0213;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*max-width: 100px;*/
}



::ng-deep .importcsv {
    width: 95% !important;
}

