<p-toolbar>
    <div class="ui-toolbar-group-right">
        <button pButton type="button" label="Nouveau collaborateur" icon="pi pi-plus"
                (click)="afficherLaSaisie($event)"></button>

    </div>



</p-toolbar>
<br>

<p-table #dt [columns]="selectedColumns" [value]="collaborateurs" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
        <div class="ui-toolbar-group-left">La liste des collaborateurs</div>
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="search" pInputText size="50" placeholder="Global Filter"
               (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        <div class="ui-toolbar-group-right">
            <p-multiSelect [options]="cols" [showToggleAll]="" [(ngModel)]="selectedColumns" optionLabel="entete"
                           selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}"
                           defaultLabel="Choisir une colonne"></p-multiSelect>
        </div>
    </ng-template>


    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>

    </ng-template>


    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">

            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
            <td class="cta_collabs">
                <div class="ui-toolbar-group-right">
                    <button pButton type="button" icon="pi pi-search"></button>
                    <button pButton type="button" icon="pi pi-calendar" class="ui-button-success"></button>
                    <button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
                </div>
            </td>
        </tr>

    </ng-template>
</p-table>

<p-dialog header="Nouveau collaborateur" [(visible)]="displayDialog" [responsive]="true" [modal]="true"
          [styleClass]="'importcsv'">


    <p-tabView>
        <p-tabPanel header="création" leftIcon="pi pi-calendar">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">id_pilot</span>
                        <input type="text" pInputText placeholder="identifiant pilot">
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">nom</span>
                        <input type="text" pInputText placeholder="nom">
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">prenom</span>
                        <input type="text" pInputText placeholder="prenom">
                    </div>
                </div>
            </div>
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">trig_open</span>
                        <input type="text" pInputText placeholder="trigramme open">
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">tel_p</span>
                        <input type="text" pInputText placeholder="telephone personnel">
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">mail_op</span>
                        <input type="text" pInputText placeholder="mail open">
                    </div>
                </div>
            </div>
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">mail_sg</span>
                        <input type="text" pInputText placeholder="mail sociéte générale">
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">code_cat</span>
                        <input type="text" pInputText placeholder="categorisation">
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">top_sta</span>
                        <input type="text" pInputText placeholder="top statut">
                    </div>
                </div>
            </div>
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">statut</span>
                        <input type="text" pInputText placeholder="statut">
                    </div>
                </div>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                    <button pButton type="button" label="Créer les collaborateurs" icon="pi pi-upload"
                            class="ui-button-success"
                            (click)="saveNewCollaborateur()"></button>
                </div>
            </p-footer>
        </p-tabPanel>
        <p-tabPanel header="Importer" leftIcon="pi pi-inbox">


            <p-table [style]="{'overflow':'auto!important'}" [resizableColumns]="true"
                     columnResizeMode="expand" [responsive]="true" #tt [columns]="selectedColumns" [value]="csvRecords"
                     [paginator]="true" [rows]="10">

                <ng-template pTemplate="caption">
                    <div style="text-align:left">
                        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                                       selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}"
                                       defaultLabel="Choose Columns"></p-multiSelect>
                    </div>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">

                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>

                </ng-template>
            </p-table>
            <p-footer>
                <div class="ui-toolbar-group-left">
                    <button pButton type="button" label="Créer les collaborateurs" icon="pi pi-upload"
                            class="ui-button-success" (click)="saveNewCollaborateur()"></button>


                    <p-fileUpload #fubauto #fileImportInput mode="basic" accept=".csv" customUpload="true"
                                  (uploadHandler)="onUpload($event)" auto="true"
                                  chooseLabel="Importer les collaborateurs"></p-fileUpload>
                </div>
            </p-footer>

        </p-tabPanel>

    </p-tabView>


</p-dialog>
